.footer {
    display: flex;
    flex-flow: column nowrap;
    background-color: $verydark-grey;
    color: $grey;
    padding: 18px;
    &__title {
        @include title();
        font-size: 18px;
    }
    &__list {
        padding: 20px 0;
        list-style-type: none;
        li {
            padding: 5px 0;
        }
        i {
            padding-right: 10px;
            + a {
                font-weight: 500;
            }
        }
        a {
            color: $grey;
        }
    }
}