.header {
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px;
    justify-content: center;
    &--home {
        box-shadow: 0px 0px 5px 1.2px darkgrey;
        position: relative;
        z-index: 2;
    }
    &__img {
        width: 165px;
    }
    &__icon {
        color: $verydark-grey;
        font-size: 20px;
        position: absolute;
        left: 5%;
    }
}
.loc {
    display: flex;
    background-color: $dark-grey;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: $verydark-grey;
    &__icon {
        position: absolute;
        transform: translateX(-75px);
    }
    &__city {
        font-size: 16px;
        font-weight: 500;
    }
}