@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
}

.header {
  display: flex;
  padding-bottom: 10px;
  padding-top: 20px;
  justify-content: center;
}
.header--home {
  box-shadow: 0px 0px 5px 1.2px darkgrey;
  position: relative;
  z-index: 2;
}
.header__img {
  width: 165px;
}
.header__icon {
  color: #353535;
  font-size: 20px;
  position: absolute;
  left: 5%;
}

.loc {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  text-align: center;
  padding: 15px;
  color: #353535;
}
.loc__icon {
  position: absolute;
  left: 28%;
}
.loc__city {
  font-size: 16px;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: #353535;
  color: #F6F6F6;
  padding: 18px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
}
.footer__list {
  padding: 20px 0;
  list-style-type: none;
}
.footer__list li {
  padding: 5px 0;
}
.footer__list i {
  padding-right: 10px;
}
.footer__list i + a {
  font-weight: 500;
}
.footer__list a {
  color: #F6F6F6;
}

.background--lapalettedugout {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat top/100%;
}
.background--lanoteenchantee {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat top/100%;
}
.background--alafrancaise {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat top/100%;
}
.background--ledelicedessens {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat top/100%;
}

.menu {
  padding-top: 210px;
}
.menu__container {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 40px 40px 0 0;
  padding: 35px 15px;
  padding-bottom: 60px;
  background: #F6F6F6;
}
.menu__carte {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 17px 0;
  margin-bottom: 10px;
}
.menu__carte__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.menu__carte__element {
  background-color: white;
  border-radius: 15px;
  padding: 12px 10px;
  box-shadow: 0 3px 10px 0.5px #CECECE;
}
.menu__carte__element__bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 8px;
}
.menu__carte__element__bottom p {
  font-size: 15.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 8px;
  white-space: nowrap;
}
.menu__carte__element__bottom h4 {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.menu__carte__element h2 {
  font-size: 18.5px;
  font-weight: 500;
}
.menu__title {
  display: inherit;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 15px;
}
.menu__title h1 {
  margin: auto 0;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}
.menu__icon {
  margin-right: 20px;
  stroke: black;
  stroke-width: 10;
  cursor: pointer;
}
.menu__subtitle h3 {
  font-weight: 300;
  font-size: 16.5px;
  text-transform: uppercase;
}
.menu__subtitle hr {
  width: 36px;
  margin-top: 6px;
  border: 3px solid #99E2D0;
  border-bottom: 1px;
}
.menu__button {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  background: linear-gradient(175deg, #FF79DA -20%, #9356DC 100%);
  border-radius: 30px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 2px 10px 1.2px darkgrey;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: none;
  margin: 25px 75px;
}
.menu__button:hover, .menu__button:active {
  border-radius: 30px;
}
.menu__button:hover::after, .menu__button:active::after {
  opacity: 1;
  border-radius: 30px;
}
.menu__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #fface8 -20%, #ae80e5 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 2px darkgrey;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding-top: 80%;
  background: white;
  animation: loader 2.6s 500ms forwards;
}

.fork {
  width: 50px;
  transform: rotate(-45deg) translateX(-100px);
  animation: fork 2s 500ms forwards;
}

.knife {
  width: 50px;
  transform: rotate(45deg) translateX(100px);
  animation: knife 2s 500ms forwards;
}

.plate {
  width: 50px;
  transform: translateY(1000px);
  animation: plate 2s 500ms forwards;
}

.table-set {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: #F6F6F6;
  opacity: 0;
  height: 80px;
  animation: table-set 2.6s 500ms forwards;
}

@keyframes table-set {
  70% {
    opacity: 1;
  }
  85% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-1000px);
  }
}
@keyframes plate {
  to {
    transform: translateY(0px);
  }
}
@keyframes knife {
  50% {
    transform: translateY(-50px);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-10deg);
    fill: #FF79DA;
  }
}
@keyframes fork {
  50% {
    transform: translateY(-50px);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(10deg);
    fill: #FF79DA;
  }
}
@keyframes loader {
  85% {
    background: rgba(255, 255, 255, 0.8);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: translateY(500px) scale(0);
    background: rgba(255, 255, 255, 0);
  }
}
.intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 20px;
  text-align: center;
}
.intro__title {
  font-weight: 700;
  font-size: 25px;
  padding: 0 10%;
}
.intro__subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
.intro__button {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  background: linear-gradient(175deg, #FF79DA -20%, #9356DC 100%);
  border-radius: 30px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 2px 10px 1.2px darkgrey;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 30px 60px;
}
.intro__button:hover, .intro__button:active {
  border-radius: 30px;
}
.intro__button:hover::after, .intro__button:active::after {
  opacity: 1;
  border-radius: 30px;
}
.intro__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #fface8 -20%, #ae80e5 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 2px darkgrey;
  cursor: pointer;
}

.function {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-flow: column;
  padding: 40px 0;
  padding-left: 18px;
}
.function__title {
  font-size: 21.5px;
}
.function__list {
  text-align: center;
  padding: 18px;
  padding-top: 5px;
  list-style: none;
  counter-reset: li;
}
.function__list li {
  display: flex;
  justify-content: left;
  align-items: center;
  counter-increment: li;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 3px 10px 1.2px #CECECE;
  margin: 25px 0;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  position: relative;
  z-index: 1;
}
.function__list li i {
  position: relative;
  z-index: 1;
}
.function__list li::before {
  content: counter(li);
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: -32px;
}
.function__list li:hover, .function__list li:active {
  border-radius: 20px;
}
.function__list li:hover::after, .function__list li:active::after {
  opacity: 1;
  border-radius: 20px;
}
.function__list li:hover i, .function__list li:active i {
  color: #9356DC;
}
.function__list li::after {
  background-color: #f5edff;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 20px;
}
.function__list i {
  display: inherit;
  align-items: center;
  margin: auto 20px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  color: #7E7E7E;
}
.function__list__text {
  margin: auto 0;
  font-weight: 500;
}

.restaurants {
  display: flex;
  flex-flow: column nowrap;
  background-color: #F6F6F6;
  padding: 40px 18px;
  padding-bottom: 70px;
}
.restaurants__title {
  font-size: 21.5px;
  padding-bottom: 5px;
}
.restaurants__container {
  display: inherit;
  flex-flow: inherit;
  gap: 30px;
}

.restaurant {
  display: inherit;
  flex-flow: inherit;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 10px 0.5px #CECECE;
}
.restaurant__link {
  cursor: pointer;
  color: black;
}
.restaurant__top {
  height: 70%;
}
.restaurant__new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  font-size: 15px;
  padding: 5px 10px;
  right: 0%;
  z-index: 100;
  margin: 20px 35px;
}
.restaurant__img {
  width: 100%;
  max-height: 190px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__text {
  margin: 15px;
}
.restaurant__text__title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}
.restaurant__text__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.restaurant__icon {
  position: absolute;
  z-index: 100;
  width: 38px;
  stroke: black;
  stroke-width: 10;
  right: 10%;
  margin-top: 205px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
