.intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $grey;
    padding: 20px;
    text-align: center;
    &__title {
        font-weight: 700;
        font-size: 25px;
        padding: 0 10%;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 18px;
        color: $verydark-grey;
    }
    &__button {
        padding: 15px 0;
        background: linear-gradient(175deg, $secondary-color -20%, $primary-color 100%);
        border-radius: 30px;
        margin: 30px 60px;
        color: white;
        font-weight: 500;
        box-shadow: 0px 2px 10px 1.2px darkgrey;
        transition: all 0.3s ease 0s;
        &:hover, &:active {
            background: transparent;
            outline: 2px solid $secondary-color;
            color: $primary-color;
            box-sizing: border-box;
        }
    }
}
.function {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-flow: column;
    padding: 40px 0;
    padding-left: 18px;
    &__title {
        font-size: 21.5px;
    }
    &__list {
        text-align: center;
        padding: 18px;
        padding-top: 5px;
        list-style: none; 
        counter-reset: li;
        li {
            display: flex;
            justify-content: left;
            align-items: center;
            counter-increment: li;
            background-color: $grey;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0px 3px 10px 1.2px #CECECE;
            margin: 25px 0;
            cursor: pointer;
            transition: all 0.2s ease 0s;
            &::before {
                content: counter(li);
                color: white;
                background-color: $primary-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                margin-left: -32px;
            }
            &:hover, &:active {
                background-color: $grey-hovered;
                & i {
                    color: $primary-color;
                }
            }
        }
        i {
            display: inherit;
            align-items: center;
            margin: auto 20px;
            width: 25px;
            height: 25px;
            font-size: 18px;
            color: $icon-grey;
        }
        &__text {
            margin: auto 0;
            font-weight: 500;
        }
    }
}
.restaurants {
    display: flex;
    flex-flow: column nowrap;
    background-color: $grey;
    padding: 40px 18px;
    padding-bottom: 70px;
    &__title {
        font-size: 21.5px;
        padding-bottom: 5px;
    }
    &__container {
        display: inherit;
        flex-flow: inherit;
        gap: 30px;
    }
}
.restaurant {
    display: inherit;
    flex-flow: inherit;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 10px 0.5px #CECECE;
    &__link {
        cursor: pointer;
        color: black;
    }
    &__top {
        height: 70%;
    }
    &__new {
        position: absolute;
        background-color: $light-green;
        color: $text-green;
        font-size: 15px;
        padding: 5px 10px;
        right: 0%;
        z-index: 100;
        margin: 20px 35px;
    }
    &__img {
        width: 100%;
        max-height: 190px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__text {
        margin: 15px;
        &__title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 5px;
        }
        &__subtitle {
            font-size: 17px;
            font-weight: 300;
        }
    }
    &__icon {
        position: absolute;
        z-index: 100;
        width: 38px;
        stroke: black;
        stroke-width: 10;
        right: 10%;
        margin-top: 205px;
    }
}