.introduction {
    @include desktop-only {
        display: flex;
    }
}
.intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: $grey;
    padding: 20px;
    text-align: center;
    @include desktop-only {
        background-color: white;
        flex-basis: 50%;
    }
    &__title {
        font-weight: 700;
        font-size: 25px;
        padding: 0 10%;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 18px;
        color: $verydark-grey;
    }
    &__button {
        @include button();
        margin: 30px 60px;
        @include desktop-tablet {
            margin: 30px auto;
            width: 300px;
        }
    }
}
.function {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-flow: column;
    padding: 40px 0;
    padding-left: 18px;
    @include desktop-only {
        flex-basis: 50%;
    }
    @include desktop-tablet {
        padding: 40px 30px;
    }
    &__title {
        font-size: 21.5px;
        @include desktop-only {
            margin: auto;
        }
    }
    &__list {
        text-align: center;
        padding: 18px;
        padding-top: 5px;
        list-style: none; 
        counter-reset: li;
        li {
            display: flex;
            justify-content: left;
            align-items: center;
            counter-increment: li;
            background-color: $grey;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0px 3px 10px 1.2px #CECECE;
            margin: 25px 0;
            cursor: pointer;
            transition: all 0.2s ease 0s;
            position: relative;
            z-index: 1;
            i {
                position: relative;
                z-index: 1;
            }
            &::before {
                content: counter(li);
                color: white;
                background-color: $primary-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                margin-left: -32px;
            }
            &:hover, &:active {
                border-radius: 20px;
                    &::after {
                        opacity: 1;
                        border-radius: 20px;
                    }
                & i {
                    color: $primary-color;
                }
            }
            &::after {
                background-color: $grey-hovered;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
                border-radius: 20px;
            }
        }
        i {
            display: inherit;
            align-items: center;
            margin: auto 20px;
            width: 25px;
            height: 25px;
            font-size: 18px;
            color: $icon-grey;
        }
        &__text {
            margin: auto 0;
            font-weight: 500;
        }
    }
}
.restaurants {
    display: flex;
    flex-flow: column nowrap;
    background-color: $grey;
    padding: 40px 18px;
    padding-bottom: 70px;
    @include desktop-only {
        padding: 100px 50px;
        padding-top: 40px;
    }
    @include tablet-only {
        padding: 40px 30px;
        padding-bottom: 100px;
    }
    &__title {
        font-size: 21.5px;
        padding-bottom: 5px;
    }
    &__container {
        display: inherit;
        flex-flow: inherit;
        gap: 30px;
        @include desktop-only {
            flex-flow: row wrap;
            justify-content: space-around;
            gap: 2.5%;
        }
        @include tablet-only {
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
}
.restaurant {
    display: inherit;
    flex-flow: row;
    justify-content: right;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 10px 0.5px #CECECE;
    @include desktop-only {
        width: 23%;
    }
    @include tablet-only {
        width: 47%;
    }
    &__link {
        cursor: pointer;
        color: black;
        display: flex;
        flex-flow: column;
        align-items: end;
    }
    &__top {
        height: 70%;
    }
    &__new {
        position: absolute;
        background-color: $light-green;
        color: $text-green;
        font-size: 15px;
        padding: 5px 10px;
        z-index: 100;
        margin: 20px 20px;
    }
    &__img {
        width: 100%;
        max-height: 190px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        max-width: 100%;
        width: 1000px;
        @include desktop-tablet {
            min-height: 190px;
        }
    }
    &__text {
        width: 100%;
        &__title {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 5px;
            padding-top: 15px;
            padding-left: 15px;
        }
        &__subtitle {
            font-size: 17px;
            font-weight: 300;
            padding-bottom: 15px;
            padding-left: 15px;
        }
    }
    &__icon {
        position: absolute;
        width: 38px;
        height: 38px;
        z-index: 100;
        margin-right: 18px;
        margin-top: 210px;
        i {
            @include heart;
        }
    }
}
